services:
  apps_privet_manager_api:
    build:
      context: ../server
      dockerfile: Dockerfile
    image: apps-privet_manager_api
    container_name: apps-privet_manager_api
    env_file:
      - ./.env
    ports:
      - "8300:8000"
    networks:
      - privet_infra

  apps_privet_manager_migrator:
    build:
      context: ../server
      dockerfile: Dockerfile
    image: apps-privet_manager_api
    container_name: apps-privet_manager_migrator
    env_file:
      - ./.env
    command: ["bash", "-lc", "alembic upgrade head"]
    networks:
      - privet_infra
    profiles: ["migrate"]

networks:
  privet_infra:
    external: true
